:root {
  --border: 1px solid #e1e1e1;
  --radius: 4px;
  --color: #213547;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color);
  background-color: #ffffff;

  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0 1rem;
}

main {
  margin: 1rem auto;
  max-width: 520px;
}

h1 {
  font-size: 2.8em;
  line-height: 1.05;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  font-size: 14px;
  font-weight: 500;
}

input {
  border: var(--border);
  border-radius: var(--radius);
  padding: 0.5em 0.75em;
  font-size: 18px;
  font-weight: 400;
  color: var(--color);
}

.upload-button {
  border: var(--border);
  border-radius: var(--radius);
  padding: 0.5em 0.75em;
  font-size: 16px;
  font-weight: 400;
  color: var(--color);
  text-align: center;
  cursor: pointer;
}

.upload-button:hover {
  background: #f9f9f9;
}

input[type="file"] {
  display: none;
}

.svg-square {
  border: var(--border);
  border-radius: var(--radius);
}

button {
  display: block;
  width: 100%;
  background-color: #f0f0f0;
  color: var(--color);
  border: none;
  padding: 1em 1em;
  margin: 1em 0;
  font-size: 15px;
  font-weight: 600;
  border-radius: var(--radius);
  cursor: pointer;
}

button:hover {
  background-color: #e9e9e9;
}
